psycopg2-binary
Werkzeug==2.2.3
babel
decorator
docutils
ebaysdk
feedparser
gevent
greenlet
html2text
Jinja2
lxml
MarkupSafe
num2words
ofxparse
passlib
Pillow
psutil
pyPdf2
pyserial
python-dateutil
python-stdnum
pytz
qrcode
reportlab
requests
six
vobject
XlsxWriter
xlwt
